* {
    font-family: 'Montserrat', sans-serif;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

body {
    padding: 0;
    background-color: whitesmoke;
}

#home {
    height: 570px;
    background-size: cover;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("images/banner_moon.jpg") no-repeat left -70px;
    flex-direction: column;
    background-size: cover;
    justify-content: space-evenly;
    margin: 0 20px;
}

.banner {
    display: flex;
    justify-content: center;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    word-spacing: 8px;
}

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: orangered;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar {
    backdrop-filter: blur(3px);
    height: 50px;
    position: fixed;
    left:10px;
    right: 10px;
    margin: auto;
    top: 0;
    z-index: 1000;
    background-color: whitesmoke;
}

.navbar ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    flex-direction: column;
}

#home > div.content > p {
    font-family: 'Orbitron', sans-serif;
}

button {
    width: 150px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: transparent;
    display: block;
    align-self: center;
    background: orangered;
}

.navigation-button {
    margin-top: -15px;
}

button:hover {
    background: #f53836;
}

.content p {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 1px black;
    letter-spacing: 15px;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

p::selection, a::selection, span::selection {
    background: orangered;
}

#gallery {
    height: 650px;
    display: flex;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.wrapper i {
    background: white;
    height: 46px;
    width: 46px;
    cursor: pointer;
    line-height: 46px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    transform: translateY(350%);
}

.wrapper i:first-child {
    left: 30px;
}

.wrapper i:last-child {
    right: 30px;
}

.wrapper, .carousel {
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 350px;
    object-fit: cover;
    width: calc(100% / 3);
    margin-left: 5px;
}

.carousel img:first-child {
    margin-left: 0;
}

.marquee {
    width: 98%;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    font-weight: 700;
    color: orangered;
    font-size: 4em;
    letter-spacing: 5px;
    display: inline-block;
    padding: 25px;
    font-family: 'Orbitron', sans-serif;
    animation: marquee-animation 50s linear infinite;
}

@keyframes marquee-animation {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

#menu {
    padding-top: 50px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

.menu {
    font-family: sans-serif;
}

.menu-group-heading {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

.menu-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.menu-item {
    display: flex;
}

.menu-item-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 15px;
}

.menu-item-text {
    flex-grow: 1;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu-item-name {
    margin-right: 1.5em;
    text-transform: uppercase;
    font-size: 16px;
}

.menu-item-desc {
    line-height: 1.6;
}
.menu-item-desc p {
    font-size: 15px;
}

.menu-item-img {
    width: 150px;
    height: 150px;
}

#reviews {
    height: 600px;
    padding: 40px 0;
    color: #434343;
    text-align: center;
}

.inner {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    background: orangered;
    margin: 10px auto;
}

.row {
    display: flex;
}

.col {
    flex: 33.33%;
    flex-wrap: wrap;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    padding: 25px;
    height: 400px;
    background: white;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.stars {
    color: #f53836;
    padding-top: 5px;
}

.name {
    padding-top: 5px;
}

#reviews p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

#faq {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.faq {
    max-width: 800px;
    margin-top: 2rem;
    border-bottom: 3px solid #ccc;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 15px;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

.answer p {
    line-height: 1.6;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active i {
    transform: rotate(180deg);
    color: orangered;
}

i {
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

#reservation {
    height: 1000px;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 50px;
    border-radius: 50%;
    padding: 130px;
    background-color: transparent;
    width: 630px;
    box-shadow: 40px 20px 30px 2px #ccc inset;
    background-repeat: no-repeat;
    background-position: left -24px;
}

div.col-1, div.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input, textarea, select {
    border: none;
    border-bottom: 2px solid orangered;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    margin-bottom: 20px;
    background-color: transparent;
    outline: none;
    color: #434343;
}
form > div.col-2 > select{
    color: #434343;
}

h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

label {
    text-align: center;
}

input {
    padding-top: 10px;
}

.reservation-container {
    position: relative;
}


#preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: animloader 3s linear infinite;
}

@keyframes animloader {
    0% {
        box-shadow: -72px 0 orangered inset;
    }
    100% {
        box-shadow: 48px 0 orangered inset;
    }
}

#reservation > div.reservation-container > form > div.col-1 > input[type=email]:nth-child(4) {
    margin-top: -20px
}

.reservation-button {
    margin-top: 25px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    font-size: 18px;
}

body > footer > ul.footer-icons > li > a > i {
    background-color: white;
    border-radius: 50%;
    color: black;
}

ul.footer-icons > li:nth-child(1) > a > i {
    padding: 15px 17px;
}

ul.footer-icons > li:nth-child(2) > a > i {
    padding: 16px 18px
}

ul.footer-icons > li:nth-child(3) > a > i {
    padding: 16px 20px;
}

.footer-menu {
    display: flex;
    gap: 30px;
    text-transform: uppercase;
}

ul.footer-menu li a {
    color: white;
}

.footer-copyright {
    background-color: orangered;
    width: 100%;
    font-size: 12px;
    text-align: center;
    word-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-contact i {
    color: white;
}

.footer-copyright p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 10px;
}

body > footer > div.footer-contact > a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-contact p {
    color: white;
    font-size: 13px;
}

.footer-contact {
    display: flex;
    gap: 30px;
    justify-items: center;
    margin-left: 30px;
}

.fa-phone {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: normal;
}

body > footer > div.footer-contact > i {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}